/* Global Styles */
body {
    font-family: monospace;
    background-color: #2E3440;
    color: #D8DEE9;
    margin: 70px;
    padding: 0px;
    font-size: 14px;
}

a{
    margin: 1px;
    padding: 1px;
    color:#D8DEE9;
}

.brand a {
    font-size: 1.5em; /* Tamaño por defecto */
    color: #d8dee9; 
    text-decoration: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .brand a {
        font-size: 1.2em; 
    }
}

@media (max-width: 480px) {
    .brand a {
        font-size: 1em; 
    }
}

.highlight {
    background-color: yellow !important; 
}
/* Botones CSS*/

.button-container {
    text-align: center;
    margin-top: 20px;
}

button, .btn {
    background-color: #88c0d0;
    color: #2E3440;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover, .btn:hover {
    background-color: #81a1c1;
    transform: translateY(-2px);
}

button:active, .btn:active {
    background-color: #5e81ac;
    transform: translateY(1px);
}

/* Navigation header */
nav {
    background-color: #3B4252;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.line {
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
}

.nav-links li {
    margin-left: 20px;
    font-size: 14px;
}

.nav-links li a {
    color: #D8DEE9;
    text-decoration: none;
}

.nav-links li a.active {
    background-color: #4C566A;
    color: #E5E9F0;
    font-weight: bold;
}

nav a {
    color: #D8DEE9;
    text-decoration: none;
    padding: 9px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

nav a:hover {
    background-color: #4C566A;
    color: #E5E9F0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start; 
    }

    .nav-links {
        width: 100%; 
        flex-direction: column; 
        margin-top: 10px;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px; 
    }
}

@media (max-width: 480px) {
    nav {
        padding: 10px; 
    }

    nav a {
        font-size: 12px; 
    }
}

/* Typography Styles */
h1, h4 {
    text-align: center;
    margin: 20px 0;
    color: #88c0d0;
    font-size: 2em;
}

@media (max-width: 1024px) {
    h1, h4 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    h1, h4 {
        font-size: 1.2em;
    }
}

.dashb {
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center; /* Centrar contenido */
}

.tablaprincipal {
    width: 90%; /* Ajusta el ancho de la tabla para que no sea demasiado grande */
    max-width: 100%; /* Se adapta al tamaño máximo de pantalla */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    background-color: rgba(59, 66, 82, 0.9); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}

.tablaprincipal th, .tablaprincipal td {
    padding: 12px;
    vertical-align: middle;
}

.tablaprincipal tr {
    border-bottom: 1px solid #434C5E;
}

.tablaprincipal th {
    background-color: rgba(76, 86, 106, 0.9); 
    color: #E5E9F0;
    font-weight: bold;
}

.tablaprincipal tr:nth-child(even) {
    background-color: rgba(67, 76, 94, 0.7); 
}

.tablaprincipal tr:hover {
    background-color: rgba(76, 86, 106, 0.7);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .tablaprincipal {
        width: 95%; /* Reduce ancho para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .tablaprincipal {
        width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
    }

    .tablaprincipal th, .tablaprincipal td {
        padding: 10px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .tablaprincipal {
        font-size: 12px;
    }
}


/*Table logs*/

#logsTable {
    width: 100%;
    max-width: 100%;
    background-color: transparent; 
    border: 2px solid #88C0D0; 
    border-collapse: collapse; 
    overflow: hidden;
    text-align: center;
    
}

#logsTable th, #logsTable td {
    padding: 12px;
    border: 1px solid #88C0D0; 
    color: #D8DEE9; 
    background-color: transparent; 
}

#logsTable tr:nth-child(even) {
    background-color: #434C5E;
}

#logsTable tr:hover {
    background-color: #5E81AC; 
    color: #ECEFF4; 
}

@media (max-width: 768px) {
    #logsTable th, #logsTable td {
        padding: 8px; 
        font-size: 14px; 
    }
}

@media (max-width: 600px) {
    #logsTable {
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

    #logsTable th, #logsTable td {
        padding: 6px; 
        font-size: 12px; 
    }
}

/* Tables (info.html)*/

.data1{
    text-align: left;
}
#infoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #4C566A;
    
}

#infoTable th, #infoTable td {
    padding: 12px;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px solid #434C5E;
}

#infoTable th {
    background-color: #4C566A;
    font-weight: bold;
    color: #E5E9F0; 
}

#infoTable tr:nth-child(even) {
    background-color: #434C5E;
}

#infoTable a{
    color: black;
    text-decoration: none;
}

#logsTable3 {
    background-color: #3B4252; /* Fondo oscuro */
    border-radius: 8px;
    font-size: 14px;
    color: #D8DEE9; /* Texto claro */
}

#logsTable3 th, #logsTable3 td {
    padding: 12px 15px;
}

#logsTable3 th {
    background-color: #4C566A; /* Fondo ligeramente más claro para el encabezado */
    color: #ECEFF4; /* Texto más claro */
    text-align: center; /* Centrar el texto en los encabezados */
}

#logsTable3 td {
    background-color: #3B4252; /* Fondo igual para las celdas */
    color: #D8DEE9; /* Texto claro */
}

#logsTable3 tr:nth-child(even) {
    background-color: #434C5E; /* Fondo alterno para filas pares */
}

#logsTable3 tr:hover {
    background-color: #4C566A; /* Color de fondo al pasar el mouse */
}

#logsTable3 a {
    color: #88C0D0; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

#logsTable3 a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}


/*index.html*/

.preye{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: monospace;
    color: #88c0d0; /* Color azulado */
    text-shadow: 2px 2px 4px rgba(0, 129, 255, 0.3); /* Sombra suave en azul */

    background: none; /* Sin bordes ni fondo */
    padding: 0;
    box-shadow: none;
}

/* Scrollable Container */
.scrollable-content, pre {
    max-width: 1600px;
    text-align: left;
    color: #D8DEE9;
    font-family: monospace;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    background-color: #2E3440;
    overflow: auto;
    word-wrap: break-word;
}

.scrollable-content {
    display: block;
    box-sizing: border-box; /* Asegura que padding y bordes se incluyan en el tamaño total del contenedor */
}

#clientSideData pre, 
#serverSideData pre {
    white-space: initial;
}

.scrollable-content {
    max-height: 300px;
}

/* Images and Figures */
figure {
    margin: 0;
    text-align: center;
}

.image-container {
    width: 100%;
    overflow: hidden; 
}


#draggableImage{
    border-radius: 50%; 
    position: absolute; 
    cursor: move; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

/* Horizontal Rule */
hr {
    border: 1px solid #434C5E;
    margin: 20px 0;
}

/* Iframe */
iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
}

/* DataTables Styles */
.dataTables_length, .dataTables_filter {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

@media screen and (min-width: 2560px) and (max-width: 2560px) {
    .dataTables_length {
        margin-top: 0px;
        margin-left: 5%; /* Ajuste para pantallas de 2K */
        margin-right: 7%;
    }
}

@media screen and (min-width: 3840px) and (max-width: 3840px) {
    .dataTables_length {
        margin-top: 0px;
        margin-left: 3%; /* Ajuste para pantallas de 4K */
        margin-right: 5%;
    }
}


.dataTables_length label, .dataTables_filter label {
    margin-right: 5px;
}

.dataTables_paginate {
    float: right;
}

.dataTables_info {
    margin-bottom: -20px;
}

/* Input Styles */
input[type="file"], 
input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
}

/* Alert Styles */
.error {
    color: #BF616A;
}

.warning {
    color: #EBCB8B;
}

 /* Estilos para el spoiler */
 .spoiler-content {
    display: none; /* Ocultar el contenido por defecto */
    background-color: #2E3440;
    padding: 10px;
    border: 1px solid #4C566A;
    margin-top: 10px;
    border-radius: 4px;
}

.spoiler-btn {
    background-color: #88c0d0;
    color: #2E3440;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: monospace;
    transition: background-color 0.3s ease;
    text-align: left;
}

/* Estilo personalizado para centrar la tabla */
.swal2-popup {
    background-color: #3B4252 !important; /* Cambia el color de fondo de la alerta */
    color: #D8DEE9;
}

.swal2-html-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.static3 {
    margin: 0 auto; /* Centra la tabla */
    width:90%; /* Ajusta el tamaño de la tabla */
    border-collapse: collapse;
}

.static3 th, .static3 td {
    border: 1px solid #D8DEE9;
}

.static3 th {
    background-color: #434C5E;
    color: #E5E9F0;
}

.static3 td {
    background-color: #4C566A;
    color: #D8DEE9;
}

.spoiler-btn:hover {
    background-color: #81a1c1;
}

.spoiler-btn:active {
    background-color: #5e81ac;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav div {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    nav li {
        margin: 5px 0;
    }

    table {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
    }
}